
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 143.9rem;
}.card-7-Ynb {
  width: 100%;
  height: 107.5rem;
}
.card-7-Ynb .desktop-1-u7M {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #b9b3b3;
}
.card-7-Ynb .desktop-1-u7M .auto-group-topm-eKq {
  width: 87.4rem;
  height: 3.9rem;
  position: absolute;
  left: 2.2rem;
  top: 0.6rem;
  display: flex;
  align-items: flex-end;
}
.card-7-Ynb .desktop-1-u7M .auto-group-topm-eKq .auto-group-h6dm-xrK {
  margin: 0rem 39.9rem 0.3rem 0rem;
  width: 4.3rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.card-7-Ynb .desktop-1-u7M .auto-group-topm-eKq .ellipse-1-5g3 {
  margin: 0rem 4.6rem 0.4rem 0rem;
  width: 4.1rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.card-7-Ynb .desktop-1-u7M .auto-group-topm-eKq .mind-body-wellness-D1Z {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  font-style: italic;
  color: #b51692;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.card-7-Ynb .desktop-1-u7M .the-greatest-wealth-is-health-vgf {
  width: 58.9rem;
  height: 8.3rem;
  position: absolute;
  left: 44.1rem;
  top: 8.4rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 2.5775;
  color: #041d5d;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
}
.card-7-Ynb .desktop-1-u7M .auto-group-toyb-QLw {
  width: 135.5rem;
  height: 33.8rem;
  position: absolute;
  left: 5rem;
  top: 19rem;
  display: flex;
  align-items: center;
}
.card-7-Ynb .desktop-1-u7M .auto-group-toyb-QLw .iphone-13-mini-1-u2o {
  margin-right: 12.6rem;
  width: 37.5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/iphone-13-mini-1-bg.png');
  flex-shrink: 0;
}
.card-7-Ynb .desktop-1-u7M .auto-group-toyb-QLw .iphone-13-mini-2-ots {
  margin-right: 10.4rem;
  width: 37.5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/iphone-13-mini-2-bg.png');
  flex-shrink: 0;
}
.card-7-Ynb .desktop-1-u7M .auto-group-toyb-QLw .iphone-13-mini-3-XZy {
  width: 37.5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/iphone-13-mini-3-bg.png');
  flex-shrink: 0;
}
.card-7-Ynb .desktop-1-u7M .auto-group-6bmz-eeb {
  width: 135.5rem;
  height: 33.8rem;
  position: absolute;
  left: 5rem;
  top: 62.8rem;
  display: flex;
  align-items: center;
}
.card-7-Ynb .desktop-1-u7M .auto-group-6bmz-eeb .iphone-13-mini-4-P6P {
  margin-right: 12.6rem;
  width: 37.5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/iphone-13-mini-4-bg.png');
  flex-shrink: 0;
}
.card-7-Ynb .desktop-1-u7M .auto-group-6bmz-eeb .iphone-13-mini-6-Jj9 {
  margin-right: 10.4rem;
  width: 37.5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/iphone-13-mini-6-bg.png');
  flex-shrink: 0;
}
.card-7-Ynb .desktop-1-u7M .auto-group-6bmz-eeb .iphone-13-mini-5-kjZ {
  width: 37.5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/iphone-13-mini-5-bg.png');
  flex-shrink: 0;
}
.card-7-Ynb .desktop-1-u7M .line-3-gNK {
  width: 4.3rem;
  height: 0.1rem;
  position: absolute;
  left: 2.2rem;
  top: 5.7rem;
  background-color: #000000;
}
.card-7-Ynb .desktop-1-u7M .auto-group-wje3-oSw {
  width: 132.9rem;
  height: 6.2rem;
  position: absolute;
  left: 6.2rem;
  top: 54.1rem;
  display: flex;
  column-gap: 14.4rem;
  align-items: flex-end;
}
.card-7-Ynb .desktop-1-u7M .auto-group-wje3-oSw .auto-group-zbyj-7Td {
  width: 34.7rem;
  height: 5.8rem;
  position: relative;
  flex-shrink: 0;
}
.card-7-Ynb .desktop-1-u7M .auto-group-wje3-oSw .auto-group-zbyj-7Td .rectangle-1-eCf {
  width: 34.7rem;
  height: 5.6rem;
  position: absolute;
  left: 0;
  top: 0.2rem;
  background-color: #d9d9d9;
  border-radius: 5rem;
}
.card-7-Ynb .desktop-1-u7M .auto-group-wje3-oSw .auto-group-zbyj-7Td .nutritive-meal-planning-mYB {
  width: 27.1rem;
  height: 5.2rem;
  position: absolute;
  left: 3.1rem;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5775;
  color: #000000;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
}
.card-7-Ynb .desktop-1-u7M .auto-group-wje3-oSw .auto-group-bwh1-Tvo {
  width: 34.7rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.card-7-Ynb .desktop-1-u7M .auto-group-wje3-oSw .auto-group-bwh1-Tvo .rectangle-6-pFZ {
  width: 34.7rem;
  height: 5.6rem;
  position: absolute;
  left: 0;
  top: 0.6rem;
  background-color: #d9d9d9;
  border-radius: 5rem;
}
.card-7-Ynb .desktop-1-u7M .auto-group-wje3-oSw .auto-group-bwh1-Tvo .yoga-meditation-classes-v3h {
  width: 30.2rem;
  height: 5.2rem;
  position: absolute;
  left: 3.2rem;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5775;
  color: #000000;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
}
.card-7-Ynb .desktop-1-u7M .auto-group-wje3-oSw .auto-group-jtxw-ma7 {
  width: 34.7rem;
  height: 5.8rem;
  position: relative;
  flex-shrink: 0;
}
.card-7-Ynb .desktop-1-u7M .auto-group-wje3-oSw .auto-group-jtxw-ma7 .rectangle-5-WXh {
  width: 34.7rem;
  height: 5.6rem;
  position: absolute;
  left: 0;
  top: 0.2rem;
  background-color: #d9d9d9;
  border-radius: 5rem;
}
.card-7-Ynb .desktop-1-u7M .auto-group-wje3-oSw .auto-group-jtxw-ma7 .holistic-wellness-retreats-EyV {
  width: 29.3rem;
  height: 5.2rem;
  position: absolute;
  left: 2.7rem;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5775;
  color: #000000;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
}
.card-7-Ynb .desktop-1-u7M .auto-group-kvxj-idm {
  width: 134.1rem;
  height: 5.9rem;
  position: absolute;
  left: 5rem;
  top: 97.9rem;
  display: flex;
  align-items: center;
}
.card-7-Ynb .desktop-1-u7M .auto-group-kvxj-idm .auto-group-z6hd-qyH {
  box-sizing: border-box;
  padding: 0.3rem 13.5rem 0rem 0rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.card-7-Ynb .desktop-1-u7M .auto-group-kvxj-idm .auto-group-z6hd-qyH .auto-group-ud3m-NiK {
  margin-right: 16.5rem;
  width: 34.7rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5775;
  color: #000000;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  border-radius: 5rem;
  flex-shrink: 0;
}
.card-7-Ynb .desktop-1-u7M .auto-group-kvxj-idm .auto-group-z6hd-qyH .auto-group-3ajh-3pT {
  width: 34.7rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5775;
  color: #000000;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  border-radius: 5rem;
  flex-shrink: 0;
}
.card-7-Ynb .desktop-1-u7M .auto-group-kvxj-idm .auto-group-pyg7-6nj {
  width: 34.7rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5775;
  color: #000000;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-2-SLF.png');
  flex-shrink: 0;
}
