
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 149rem;
}.card-5-yFD {
  width: 100%;
  height: 99.3rem;
}
.card-5-yFD .desktop-1-vRM {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #d8d3d3;
  background: linear-gradient(179.93deg, rgba(0, 0, 0, 0.200000003) 0%, rgba(0, 0, 0, 0.200000003) 64.99%);
}
.card-5-yFD .desktop-1-vRM .auto-group-zbnf-fNw {
  width: 121.4rem;
  height: 63rem;
  position: absolute;
  left: 3.1rem;
  top: 7.5rem;
  display: flex;
  align-items: center;
}
.card-5-yFD .desktop-1-vRM .auto-group-zbnf-fNw .auto-group-7ndm-yeX {
  box-sizing: border-box;
  padding: 3.6rem 0.1rem 2.7rem 0rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.card-5-yFD .desktop-1-vRM .auto-group-zbnf-fNw .auto-group-7ndm-yeX .location-G7q {
  margin-right: 8.5rem;
  width: 57rem;
  height: 56.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.card-5-yFD .desktop-1-vRM .auto-group-zbnf-fNw .auto-group-7ndm-yeX .auto-group-rpck-bR1 {
  margin-bottom: 1.2rem;
  row-gap: 2.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.card-5-yFD .desktop-1-vRM .auto-group-zbnf-fNw .auto-group-7ndm-yeX .auto-group-rpck-bR1 .item--7u9 {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.card-5-yFD .desktop-1-vRM .auto-group-zbnf-fNw .auto-group-7ndm-yeX .auto-group-rpck-bR1 .item--pYf {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.card-5-yFD .desktop-1-vRM .auto-group-zbnf-fNw .auto-group-7ndm-yeX .auto-group-rpck-bR1 .item--LX1 {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.card-5-yFD .desktop-1-vRM .auto-group-zbnf-fNw .auto-group-7ndm-yeX .auto-group-rpck-bR1 .item--smq {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.card-5-yFD .desktop-1-vRM .auto-group-zbnf-fNw .auto-group-7ndm-yeX .auto-group-rpck-bR1 .item--QWs {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.card-5-yFD .desktop-1-vRM .auto-group-zbnf-fNw .auto-group-7ndm-yeX .auto-group-rpck-bR1 .item--k4w {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.card-5-yFD .desktop-1-vRM .auto-group-zbnf-fNw .auto-group-4ruh-GZ5 {
  width: 53.1rem;
  height: 100%;
  flex-shrink: 0;
}
.card-5-yFD .desktop-1-vRM .auto-group-zbnf-fNw .auto-group-4ruh-GZ5 .auto-group-hu4b-a3y {
  margin: 0rem 9.2rem 5.4rem 6.7rem;
  width: calc(100% - 15.9rem);
  height: 5.5rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
}
.card-5-yFD .desktop-1-vRM .auto-group-zbnf-fNw .auto-group-4ruh-GZ5 .we-provide-our-services-both-in-online-offline-pU7 {
  margin-bottom: 6rem;
  width: 100%;
  max-width: 48.4rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.card-5-yFD .desktop-1-vRM .auto-group-zbnf-fNw .auto-group-4ruh-GZ5 .dance-therapy-session-JeB {
  margin-bottom: 2.4rem;
  width: 100%;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.card-5-yFD .desktop-1-vRM .auto-group-zbnf-fNw .auto-group-4ruh-GZ5 .digital-detox-day-2KH {
  margin-bottom: 2.3rem;
  width: 100%;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.card-5-yFD .desktop-1-vRM .auto-group-zbnf-fNw .auto-group-4ruh-GZ5 .art-therapy-session-wx3 {
  margin-bottom: 2.1rem;
  width: 100%;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.card-5-yFD .desktop-1-vRM .auto-group-zbnf-fNw .auto-group-4ruh-GZ5 .mindful-esting-exercise-Uh5 {
  margin-bottom: 2.1rem;
  width: 100%;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.card-5-yFD .desktop-1-vRM .auto-group-zbnf-fNw .auto-group-4ruh-GZ5 .goal-setting-visioning-workshop-ojM {
  margin-bottom: 2.1rem;
  width: 100%;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.card-5-yFD .desktop-1-vRM .auto-group-zbnf-fNw .auto-group-4ruh-GZ5 .outdoor-group-fitness-classes-eg-boot-campzumba-hZq {
  width: 100%;
  max-width: 46rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.card-5-yFD .desktop-1-vRM .auto-group-m13m-PxT {
  width: 48.1rem;
  height: 3.9rem;
  position: absolute;
  left: 37.3rem;
  top: 0.8rem;
  display: flex;
  align-items: center;
}
.card-5-yFD .desktop-1-vRM .auto-group-m13m-PxT .auto-group-j7mh-Kr7 {
  margin-right: 4.4rem;
  box-sizing: border-box;
  padding: 3.5rem 0rem 0.2rem 4.2rem;
  width: 4.4rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-1-uy9.png');
  flex-shrink: 0;
}
.card-5-yFD .desktop-1-vRM .auto-group-m13m-PxT .auto-group-j7mh-Kr7 .ellipse-2-rLF {
  width: 100%;
  height: 0.2rem;
  background-color: #d9d9d9;
  border-radius: 0.1rem;
}
.card-5-yFD .desktop-1-vRM .auto-group-m13m-PxT .mind-body-wellness-aX9 {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #930795;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.card-5-yFD .desktop-1-vRM .auto-group-h5mh-W9u {
  width: 99.6rem;
  height: 4.7rem;
  position: absolute;
  left: 5rem;
  top: 71.3rem;
  display: flex;
  align-items: flex-end;
}
.card-5-yFD .desktop-1-vRM .auto-group-h5mh-W9u .location--R1y {
  margin: 0rem 49.2rem 0.8rem 0rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.card-5-yFD .desktop-1-vRM .auto-group-h5mh-W9u .item--Wp7 {
  margin-right: 0.7rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.card-5-yFD .desktop-1-vRM .auto-group-h5mh-W9u .vision-board-creation-bqZ {
  margin-bottom: 0.1rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.card-5-yFD .desktop-1-vRM .auto-group-z199-htb {
  width: 26.7rem;
  height: 4.8rem;
  position: absolute;
  left: 2.4rem;
  top: 78.7rem;
  display: flex;
  align-items: center;
}
.card-5-yFD .desktop-1-vRM .auto-group-z199-htb .item--pCX {
  margin: 0.9rem 0.6rem 0rem 0rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.card-5-yFD .desktop-1-vRM .auto-group-z199-htb .ahmedabadgj-iHu {
  margin-bottom: 0.9rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 1.2125;
  font-style: italic;
  text-decoration-line: underline;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.card-5-yFD .desktop-1-vRM .many-more-EX9 {
  width: 23.1rem;
  height: 3.9rem;
  position: absolute;
  left: 96rem;
  top: 84rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.21;
  color: #000000;
  font-family: Irish Grover, 'Source Sans Pro';
  white-space: nowrap;
}
