
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.card-11-439 {
  width: 100%;
  height: 102.4rem;

  .desktop-1-zxP {
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #b4b1b1;
    box-sizing: border-box;
    padding: 1.7rem 47.2rem;
    width: 100%;

    .iphone-13-mini-1-wcj {
      flex-direction: column;
      background-color: #fffdfd;
      border-radius: 5rem;
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      display: flex;

      .auto-group-bzsb-gqD {
        padding: 1.068rem 0.413rem 0.085rem 0.981rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;

        .auto-group-mahu-1sV {
          margin: 0rem 0rem 0.031rem 0.159rem;
          width: 48.0473rem;
          height: 12.8315rem;
          position: relative;
          flex-shrink: 0;

          .vector-2-vzT {
            left: 17.9435rem;
            top: 3.4934rem;
            object-fit: contain;
            vertical-align: top;
            width: 19.5314rem;
            height: 1.0359rem;
            position: absolute;
          }
          .vector-3-fSF {
            position: absolute;
            left: 0;
            top: 10.3701rem;
            object-fit: contain;
            vertical-align: top;
            width: 23.9776rem;
            height: 1.133rem;
          }
          .vector-4-CSB {
            position: absolute;
            left: 0.2147rem;
            top: 10.6134rem;
            object-fit: contain;
            vertical-align: top;
            width: 30.7498rem;
            height: 1.6997rem;
          }
          .vector-5-jBD {
            vertical-align: top;
            width: 15.244rem;
            height: 0.3644rem;
            position: absolute;
            left: 32.076rem;
            top: 11.433rem;
            object-fit: contain;
          }
          .vector-6-sHR {
            vertical-align: top;
            width: 48.0473rem;
            height: 10.3215rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: contain;
          }
          .payment-details-1eX {
            height: 5.9rem;
            top: 1.6315rem;
            font-style: italic;
            color: #000000;
            width: 38.8rem;
            position: absolute;
            left: 6.26rem;
            font-size: 4.8rem;
            font-weight: 600;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .rectangle-8-H6F {
            position: absolute;
            left: 10.26rem;
            background-color: #d9d9d9;
            background-repeat: no-repeat;
            background-position: center;
            width: 9.9rem;
            top: 8.9315rem;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:269813a1b179759d6fe8be3557b0189a5f9aa023');
            height: 3.9rem;
          }
          .rectangle-9-zFZ {
            height: 3.9rem;
            position: absolute;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            width: 10.7rem;
            left: 25.16rem;
            top: 8.9315rem;
            background-color: #d9d9d9;
            background-position: center;
            background-image: url('REPLACE_IMAGE:269813a1b179759d6fe8be3557b0189a5f9aa023');
          }
        }
        .auto-group-zdrh-527 {
          align-items: center;
          flex-shrink: 0;
          display: flex;

          .vector-11-2CF {
            margin: 0rem 8.734rem 0.233rem 0rem;
            width: 3.1758rem;
            height: 0.3176rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .vector-13-WNK {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 12.1413rem;
            width: 3.6522rem;
            height: 0.5505rem;
          }
          .vector-12-dhq {
            width: 2.6264rem;
            height: 0.2971rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.0628rem;
          }
        }
      }
      .auto-group-autb-yFu {
        height: 6.9342rem;
        position: relative;
        flex-shrink: 0;
        width: 49.7505rem;

        .vector-7-ufM {
          object-fit: contain;
          vertical-align: top;
          width: 15.9117rem;
          height: 2.2231rem;
          position: absolute;
          left: 0.2749rem;
          top: 0;
        }
        .vector-8-FUK {
          vertical-align: top;
          width: 18.2544rem;
          height: 1.2954rem;
          position: absolute;
          left: 29.571rem;
          top: 0.2925rem;
          object-fit: contain;
        }
        .vector-9-P4j {
          width: 14.4501rem;
          height: 4.605rem;
          position: absolute;
          left: 34.4868rem;
          top: 0.4764rem;
          object-fit: contain;
          vertical-align: top;
        }
        .vector-10-XAw {
          height: 0.4764rem;
          position: absolute;
          left: 12.1599rem;
          top: 0.1588rem;
          object-fit: contain;
          vertical-align: top;
          width: 3.1131rem;
        }
        .email-4As {
          height: 3.9rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          width: 8.1rem;
          position: absolute;
          left: 4.2005rem;
          top: 3.0342rem;
          font-style: italic;
          color: #000000;
          white-space: nowrap;
        }
        .line-2-MQs {
          width: 49.7505rem;
          height: 1.0173rem;
          position: absolute;
          left: 0;
          top: 0.0756rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .auto-group-hopd-hDq {
        padding: 1rem 4.2rem 12.2rem 3.9rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;

        .auto-group-xnbh-1EX {
          height: 5.4rem;
          line-height: 1.2125;
          flex-shrink: 0;
          font-style: italic;
          display: flex;
          justify-content: center;
          background-color: #d9d9d9;
          width: 41.2rem;
          font-size: 2.4rem;
          color: #000000;
          align-items: center;
          margin: 0rem 0.3rem 3rem 0rem;
          font-weight: 200;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .choose-your-plan-TMR {
          font-style: italic;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 15rem 1.1rem 0rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.2125;
        }
        .auto-group-bwtp-Mhh {
          font-family: Inter, 'Source Sans Pro';
          background-color: #d9d9d9;
          font-size: 2.4rem;
          font-weight: 200;
          line-height: 1.2125;
          color: #000000;
          font-style: italic;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.3rem 2.8rem 0rem;
          box-sizing: border-box;
          padding: 1.2rem 1.9rem;
          width: 41.2rem;
        }
        .auto-group-w4q7-EWb {
          flex-shrink: 0;
          font-size: 2.4rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 41.2rem;
          font-weight: 200;
          line-height: 1.2125;
          font-style: italic;
          color: #000000;
          margin: 0rem 0.3rem 4.3rem 0rem;
          box-sizing: border-box;
          padding: 1.5rem 1.9rem 0.9rem 1.9rem;
          background-color: #d9d9d9;
        }
        .creditcard-or-debitcard-HUs {
          line-height: 1.2125;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 5.3rem 1.5rem 0rem;
          font-size: 3.2rem;
          font-weight: 400;
          font-style: italic;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .auto-group-gbq3-nwR {
          flex-shrink: 0;
          margin: 0rem 0rem 9.7rem 0.3rem;
          width: 41.2rem;
          height: 12.5rem;
          position: relative;

          .rectangle-3-v23 {
            left: 0;
            top: 0;
            background-color: #d9d9d9;
            width: 41.2rem;
            height: 5.4rem;
            position: absolute;
          }
          .card-number-eyd {
            line-height: 1.2125;
            font-style: italic;
            font-family: Inter, 'Source Sans Pro';
            width: 14.5rem;
            left: 1.6rem;
            top: 0.8rem;
            font-size: 2.4rem;
            font-weight: 200;
            color: #000000;
            white-space: nowrap;
            height: 3rem;
            position: absolute;
          }
          .rectangle-6-xUX {
            position: absolute;
            left: 22.1rem;
            top: 7.3rem;
            background-color: #d9d9d9;
            width: 17.8rem;
            height: 5.2rem;
          }
          .cvc-hBD {
            font-style: italic;
            height: 3rem;
            top: 8.4rem;
            font-size: 2.4rem;
            font-weight: 200;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 5rem;
            position: absolute;
            left: 23.7rem;
            line-height: 1.2125;
          }
          .item--QrK {
            height: 7.8rem;
            position: absolute;
            left: 33.4rem;
            top: 0rem;
            font-weight: 200;
            font-family: Inter, 'Source Sans Pro';
            width: 3.9rem;
            font-size: 6.4rem;
            line-height: 1.2125;
            font-style: italic;
            color: #000000;
            white-space: nowrap;
          }
          .rectangle-5-u2P {
            top: 7.3rem;
            background-color: #d9d9d9;
            width: 17.8rem;
            height: 5.2rem;
            position: absolute;
            left: 0;
          }
          .mm-yy-dj5 {
            position: absolute;
            left: 1.6rem;
            top: 8.2rem;
            font-weight: 200;
            font-style: italic;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            height: 3rem;
            font-size: 2.4rem;
            line-height: 1.2125;
            color: #000000;
            width: 8.1rem;
          }
        }
        .auto-group-esct-hU3 {
          height: 5.4rem;
          font-size: 3.2rem;
          font-style: italic;
          color: #ffffff;
          flex-shrink: 0;
          width: 41.2rem;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          margin-right: 0.3rem;
          font-weight: 400;
          white-space: nowrap;
          align-items: center;
          background-color: #8cb18e;
          line-height: 1.2125;
          text-decoration-line: underline;
          border-radius: 5rem;
        }
      }
    }
  }
}
