
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 149rem;
}.card-5-yFD {
  width: 100%;
  height: 99.3rem;

  .desktop-1-vRM {
    background: linear-gradient(179.93deg, rgba(0, 0, 0, 0.200000003) 0%, rgba(0, 0, 0, 0.200000003) 64.99%);
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #d8d3d3;

    .auto-group-zbnf-fNw {
      position: absolute;
      left: 3.1rem;
      top: 7.5rem;
      display: flex;
      align-items: center;
      width: 121.4rem;
      height: 63rem;

      .auto-group-7ndm-yeX {
        box-sizing: border-box;
        padding: 3.6rem 0.1rem 2.7rem 0rem;
        height: 100%;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .location-G7q {
          width: 57rem;
          height: 56.7rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 8.5rem;
        }
        .auto-group-rpck-bR1 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 1.2rem;
          row-gap: 2.2rem;
          align-items: center;

          .item--7u9 {
            font-size: 3.2rem;
            font-weight: 500;
            line-height: 1.2125;
            font-style: italic;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            text-align: center;
            white-space: nowrap;
          }
          .item--pYf {
            text-align: center;
            font-size: 3.2rem;
            font-weight: 500;
            font-family: Inter, 'Source Sans Pro';
            line-height: 1.2125;
            font-style: italic;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item--LX1 {
            flex-shrink: 0;
            text-align: center;
            font-size: 3.2rem;
            white-space: nowrap;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-weight: 500;
            line-height: 1.2125;
            font-style: italic;
          }
          .item--smq {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-weight: 500;
            line-height: 1.2125;
            font-style: italic;
            text-align: center;
            font-size: 3.2rem;
          }
          .item--QWs {
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            font-weight: 500;
            font-size: 3.2rem;
            line-height: 1.2125;
            font-style: italic;
            font-family: Inter, 'Source Sans Pro';
            text-align: center;
          }
          .item--k4w {
            line-height: 1.2125;
            color: #000000;
            flex-shrink: 0;
            font-size: 3.2rem;
            font-weight: 500;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            text-align: center;
            font-style: italic;
          }
        }
      }
      .auto-group-4ruh-GZ5 {
        width: 53.1rem;
        height: 100%;
        flex-shrink: 0;

        .auto-group-hu4b-a3y {
          text-align: center;
          font-style: italic;
          color: #000000;
          display: flex;
          background-color: #d9d9d9;
          margin: 0rem 9.2rem 5.4rem 6.7rem;
          line-height: 1.2125;
          white-space: nowrap;
          align-items: center;
          width: calc(100% - 15.9rem);
          height: 5.5rem;
          font-size: 3.2rem;
          font-weight: 500;
          font-family: Inter, 'Source Sans Pro';
          justify-content: center;
        }
        .we-provide-our-services-both-in-online-offline-pU7 {
          text-align: center;
          font-size: 3.2rem;
          font-style: italic;
          color: #000000;
          max-width: 48.4rem;
          width: 100%;
          font-weight: 500;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          margin-bottom: 6rem;
        }
        .dance-therapy-session-JeB {
          color: #000000;
          white-space: nowrap;
          margin-bottom: 2.4rem;
          font-size: 3.2rem;
          font-weight: 500;
          line-height: 1.2125;
          font-style: italic;
          font-family: Inter, 'Source Sans Pro';
          width: 100%;
          text-align: center;
        }
        .digital-detox-day-2KH {
          line-height: 1.2125;
          font-style: italic;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2.3rem;
          text-align: center;
          font-size: 3.2rem;
          font-weight: 500;
          width: 100%;
        }
        .art-therapy-session-wx3 {
          font-style: italic;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2.1rem;
          text-align: center;
          font-size: 3.2rem;
          font-weight: 500;
          line-height: 1.2125;
          width: 100%;
          color: #000000;
        }
        .mindful-esting-exercise-Uh5 {
          font-weight: 500;
          font-style: italic;
          color: #000000;
          white-space: nowrap;
          text-align: center;
          width: 100%;
          font-size: 3.2rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          margin-bottom: 2.1rem;
        }
        .goal-setting-visioning-workshop-ojM {
          font-style: italic;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2.1rem;
          font-size: 3.2rem;
          line-height: 1.2125;
          color: #000000;
          width: 100%;
          text-align: center;
          font-weight: 500;
        }
        .outdoor-group-fitness-classes-eg-boot-campzumba-hZq {
          text-align: center;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 100%;
          max-width: 46rem;
          font-size: 3.2rem;
          font-weight: 500;
          line-height: 1.2125;
          font-style: italic;
        }
      }
    }
    .auto-group-m13m-PxT {
      left: 37.3rem;
      top: 0.8rem;
      display: flex;
      align-items: center;
      width: 48.1rem;
      height: 3.9rem;
      position: absolute;

      .auto-group-j7mh-Kr7 {
        margin-right: 4.4rem;
        height: 100%;
        background-size: cover;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 3.5rem 0rem 0.2rem 4.2rem;
        width: 4.4rem;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:120:76');

        .ellipse-2-rLF {
          width: 100%;
          height: 0.2rem;
          background-color: #d9d9d9;
          border-radius: 0.1rem;
        }
      }
      .mind-body-wellness-aX9 {
        text-align: center;
        font-size: 3.2rem;
        font-style: italic;
        color: #930795;
        font-weight: 600;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-h5mh-W9u {
      width: 99.6rem;
      height: 4.7rem;
      position: absolute;
      left: 5rem;
      top: 71.3rem;
      display: flex;
      align-items: flex-end;

      .location--R1y {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 3.2rem;
        line-height: 1.2125;
        font-style: italic;
        margin: 0rem 49.2rem 0.8rem 0rem;
        font-weight: 600;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .item--Wp7 {
        margin-right: 0.7rem;
        font-size: 3.2rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        color: #000000;
        flex-shrink: 0;
        text-align: center;
        font-weight: 500;
        line-height: 1.2125;
        font-style: italic;
      }
      .vision-board-creation-bqZ {
        flex-shrink: 0;
        text-align: center;
        font-size: 3.2rem;
        line-height: 1.2125;
        white-space: nowrap;
        font-family: Inter, 'Source Sans Pro';
        margin-bottom: 0.1rem;
        font-weight: 500;
        font-style: italic;
        color: #000000;
      }
    }
    .auto-group-z199-htb {
      position: absolute;
      left: 2.4rem;
      top: 78.7rem;
      display: flex;
      align-items: center;
      width: 26.7rem;
      height: 4.8rem;

      .item--pCX {
        font-family: Inter, 'Source Sans Pro';
        margin: 0.9rem 0.6rem 0rem 0rem;
        text-align: center;
        font-size: 3.2rem;
        font-weight: 600;
        flex-shrink: 0;
        line-height: 1.2125;
        font-style: italic;
        color: #000000;
        white-space: nowrap;
      }
      .ahmedabadgj-iHu {
        white-space: nowrap;
        margin-bottom: 0.9rem;
        font-weight: 900;
        font-style: italic;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        text-align: center;
        font-size: 3.2rem;
        line-height: 1.2125;
        text-decoration-line: underline;
        flex-shrink: 0;
      }
    }
    .many-more-EX9 {
      height: 3.9rem;
      position: absolute;
      left: 96rem;
      top: 84rem;
      text-align: center;
      font-weight: 400;
      color: #000000;
      width: 23.1rem;
      white-space: nowrap;
      line-height: 1.21;
      font-family: Irish Grover, 'Source Sans Pro';
      font-size: 3.2rem;
    }
  }
}
