
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36.301rem;
}.card-2-ZmZ {
  width: 100%;
  height: 66.0698rem;

  .iphone-13-mini-1-6Fh {
    position: relative;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 0.6rem 1.105rem 8.07rem 1.8rem;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;

    .auto-group-ybaf-PEo {
      margin: 0rem 1.198rem 3.53rem 1.711rem;
      width: calc(100% - 2.909rem);
      height: 9.3705rem;
      position: relative;
      flex-shrink: 0;

      .headline-kUf {
        top: 1.9rem;
        width: 30.4877rem;
        height: 7.4705rem;
        position: absolute;
        left: 0;

        .welcome-back-UQf {
          letter-spacing: 0.102rem;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
          font-size: 3.4rem;
          line-height: 1.5;
          text-transform: uppercase;
          color: #030303;
          margin-bottom: 0.2705rem;
          width: 100%;
          font-weight: 500;
        }
        .welcome-back-please-enter-your-details-Zwu {
          font-weight: 400;
          letter-spacing: 0.042rem;
          color: #1010b6;
          width: 100%;
          text-align: center;
          font-size: 1.4rem;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .ellipse-4-eiT {
        height: 1.6rem;
        position: absolute;
        left: 4.1893rem;
        top: 0.3rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.7rem;
      }
      .mind-body-wellness-YJ3 {
        height: 2rem;
        font-weight: 600;
        line-height: 1.2125;
        left: 8.3893rem;
        color: #ab11f3;
        position: absolute;
        text-align: center;
        font-size: 1.6rem;
        letter-spacing: 0.048rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 16.2rem;
        top: 0;
        font-style: italic;
      }
    }
    .email-form-Qr3 {
      padding-left: 0.0672rem;
      width: 31.5rem;
      border-radius: 1.2rem;
      flex-shrink: 0;
      margin: 0rem 1.897rem 3.48rem 0rem;
      box-sizing: border-box;

      .email-Ki7 {
        margin-bottom: 0.6885rem;
        text-align: center;
        font-weight: 500;
        letter-spacing: 0.042rem;
        color: #181818;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 100%;
        font-size: 1.4rem;
        line-height: 1.5;
      }
      .auto-group-nckz-S23 {
        box-sizing: border-box;
        padding: 1.136rem 1.486rem 0.895rem 1.486rem;
        white-space: nowrap;
        line-height: 1.5;
        border: solid 0.1rem rgba(0, 0, 0, 0.25);
        border-radius: 1.2rem;
        font-weight: 300;
        letter-spacing: 0.042rem;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 1.4rem;
        color: #626263;
        box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
        margin-left: 0.0361rem;
        width: calc(100% - 0.0361rem);
        text-align: center;
      }
    }
    .password-form-R8s {
      margin: 0rem 1.8rem 3.48rem 0rem;
      width: 31.3967rem;
      border-radius: 1.2rem;
      flex-shrink: 0;

      .password-sWf {
        color: #181818;
        font-family: Poppins, 'Source Sans Pro';
        width: 100%;
        text-align: center;
        font-size: 1.4rem;
        line-height: 1.5;
        letter-spacing: 0.042rem;
        margin-bottom: 0.6885rem;
        font-weight: 500;
        white-space: nowrap;
      }
      .auto-group-jk9h-NTR {
        box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        width: 100%;
        font-weight: 300;
        letter-spacing: 0.042rem;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        padding: 1.136rem 1.716rem 0.895rem 1.716rem;
        color: #626263;
        border-radius: 1.2rem;
        border: solid 0.1rem rgba(0, 0, 0, 0.25);
        text-align: center;
        font-size: 1.4rem;
        line-height: 1.5;
      }
    }
    .remember-forgot-b5H {
      align-items: center;
      border-radius: 0.4rem;
      flex-shrink: 0;
      margin: 0rem 1.316rem 6.241rem 0rem;
      box-sizing: border-box;
      padding-right: 0.1754rem;
      height: 1.859rem;
      display: flex;

      .rectangle-4-HTu {
        border: solid 0.1rem rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        border-radius: 0.4rem;
        flex-shrink: 0;
        margin: 0rem 0.775rem 0.103rem 0rem;
        width: 1.4459rem;
        height: 1.3426rem;
      }
      .remember-me-z7R {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.036rem;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 8.284rem 0.059rem 0rem;
        white-space: nowrap;
        color: #181818;
      }
      .forgot-password-gF9 {
        color: #181818;
        white-space: nowrap;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.036rem;
        margin-bottom: 0.059rem;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .sign-in-button-9Pd {
      text-align: center;
      line-height: 1.5;
      box-shadow: 0 0.4rem 1rem rgba(233, 68, 75, 0.25);
      background-color: #ea454c;
      height: 4.1311rem;
      font-size: 1.4rem;
      white-space: nowrap;
      display: flex;
      flex-shrink: 0;
      margin: 0rem 0.7rem 3.469rem 1.3rem;
      letter-spacing: 0.042rem;
      text-decoration-line: underline;
      color: #ffffff;
      align-items: center;
      width: calc(100% - 2rem);
      font-weight: 500;
      font-family: Poppins, 'Source Sans Pro';
      justify-content: center;
      border-radius: 1.2rem;
    }
    .sign-in-button-google-Zy9 {
      width: calc(100% - 2rem);
      border: solid 0.1rem rgba(0, 0, 0, 0.25);
      border-radius: 1.2rem;
      margin: 0rem 0rem 2.169rem 2rem;
      box-sizing: border-box;
      padding: 0.62rem 6.741rem 0.62rem 6.61rem;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);

      .free-icon-google-300221-1-5Ao {
        height: 2.8918rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.8541rem;
        width: 2.8918rem;
      }
      .sign-in-with-google-bQ3 {
        margin-bottom: 0.1722rem;
        font-size: 1.4rem;
        letter-spacing: 0.042rem;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
      }
    }
    .dont-have-an-account-sign-up-fo-free-pXh {
      line-height: 1.5;
      letter-spacing: 0.033rem;
      text-decoration-line: underline;
      font-family: Poppins, 'Source Sans Pro';
      margin-left: 0.7033rem;
      text-align: center;
      font-size: 1.1rem;
      font-weight: 500;
      white-space: nowrap;
      align-items: baseline;
      color: #000000;
      display: flex;
      flex-shrink: 0;

      .dont-have-an-account-sign-up-fo-free-pXh-sub-0 {
        text-decoration-line: underline;
        color: #595959;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 1.1rem;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.033rem;
      }
      .dont-have-an-account-sign-up-fo-free-pXh-sub-1 {
      }
      .dont-have-an-account-sign-up-fo-free-pXh-sub-2 {
        font-family: Poppins, 'Source Sans Pro';
        font-size: 1.1rem;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.033rem;
        text-decoration-line: underline;
        color: #ea454c;
      }
    }
  }
}
