
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 147.1rem;
}.card-9-pjH {
  width: 100%;
  height: 94.7rem;
  position: relative;

  .desktop-2-B43 {
    left: 76.1535rem;
    overflow: hidden;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 70.9465rem;
    height: 94.7rem;
    background-color: #ffffff;
    background-image: url('REPLACE_IMAGE:c579ea475eae808dc930f40259c7e31bbda19fac');
    position: absolute;
    top: 0;
  }
  .desktop-1-TnF {
    background-repeat: no-repeat;
    background-position: center;
    width: 76.1535rem;
    height: 94.7rem;
    left: 0;
    background-color: #ffffff;
    background-size: 100% 100%;
    background-image: url('REPLACE_IMAGE:41c2b46fa2891a3cf934f227029501827ec50bbb');
    position: absolute;
    top: 0;
    overflow: hidden;
  }
  .mind-body-wellness-AwZ {
    position: absolute;
    top: 0.7rem;
    font-size: 3.2rem;
    font-style: italic;
    color: #970fd7;
    font-family: Inter, 'Source Sans Pro';
    width: 31.2rem;
    height: 3.9rem;
    left: 63rem;
    font-weight: 600;
    line-height: 1.2125;
    white-space: nowrap;
  }
  .ellipse-3-UBZ {
    object-fit: contain;
    vertical-align: top;
    width: 5.3rem;
    height: 5.4rem;
    position: absolute;
    left: 55rem;
    top: 0;
  }
}
