
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.card-8-G6B {
  width: 100%;
  height: 102.4rem;

  .desktop-1-CVd {
    overflow: hidden;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    position: relative;

    .user-experience-kX9 {
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      top: 3rem;
      height: 12.6rem;
      position: absolute;
      left: 35.6rem;
      font-size: 9.6rem;
      font-weight: 700;
      line-height: 1.3025;
      color: #000000;
      width: 72rem;
    }
    .rectangle-2-Sum {
      height: 55.3rem;
      position: absolute;
      background-color: #d9d9d9;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:ba79747309558dd653709d334f451cf6e37cfae6');
      width: 36.5rem;
      left: 0.7rem;
      top: 15.5rem;
      background-size: 100% 100%;
    }
    .rectangle-3-AKy {
      top: 49.5rem;
      background-position: center;
      width: 35rem;
      height: 47.6rem;
      position: absolute;
      left: 107.6rem;
      background-color: #d9d9d9;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:1d5c0a2d661a28328cdf35465fb4ece688db0a5e');
    }
    .rectangle-4-skB {
      height: 50rem;
      top: 17.7rem;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:4129da6c324a888eeb868034cb29639cfdedab1a');
      width: 36.1rem;
      position: absolute;
      left: 72.9rem;
      background-color: #d9d9d9;
    }
    .rectangle-5-o83 {
      width: 35.7rem;
      top: 47.2rem;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:df9e698bf575a27679a6d0e91b072233c4da5daf');
      height: 49.9rem;
      position: absolute;
      left: 37.2rem;
      background-color: #d9d9d9;
      background-size: 100% 100%;
    }
    .ellipse-1-KcB {
      height: 4rem;
      position: absolute;
      left: 48.4rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 4.5rem;
    }
    .mind-body-wellness-rc7 {
      font-size: 3.2rem;
      font-weight: 500;
      line-height: 1.2125;
      white-space: nowrap;
      font-family: Inter, 'Source Sans Pro';
      width: 34.6rem;
      height: 3.9rem;
      position: absolute;
      left: 55.1rem;
      top: 0.1rem;
      font-style: italic;
      color: #930795;
    }
  }
}
