
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 133.5rem;
}.card-14-iqM {
  width: 100%;
  height: 173rem;

  .card-14-sy9 {
    height: 100%;
    position: relative;
    overflow: hidden;
    background-image: url('REPLACE_IMAGE:a287fdf746074cbbcd7cc6e1553191af0cbb42b5');
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;

    .rectangle-38-dBd {
      height: 17.6rem;
      position: absolute;
      left: 9.6rem;
      top: 149.5rem;
      background-color: #d9d9d9;
      background-repeat: no-repeat;
      background-position: center;
      width: 84.2rem;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:74f6a09b1b87cf974a19a9c7a31a19fd1391aec5');
    }
    .l-KKM {
      width: 7.7rem;
      font-style: italic;
      font-family: Inter, 'Source Sans Pro';
      left: 80.1rem;
      text-align: center;
      font-size: 12.8rem;
      line-height: 1.2125;
      white-space: nowrap;
      height: 15.6rem;
      letter-spacing: 0.384rem;
      position: absolute;
      top: 151.4rem;
      font-weight: 600;
      text-decoration-line: underline;
    }
    .t-zgP {
      top: 156rem;
      text-decoration-line: underline;
      white-space: nowrap;
      width: 8.9rem;
      line-height: 1.2125;
      font-style: italic;
      position: absolute;
      font-size: 12.8rem;
      font-weight: 600;
      font-family: Inter, 'Source Sans Pro';
      height: 15.6rem;
      left: 56.2rem;
      text-align: center;
      letter-spacing: 0.384rem;
    }
    .i-HvP {
      position: absolute;
      left: 37.15rem;
      text-align: center;
      font-size: 12.8rem;
      font-weight: 600;
      line-height: 1.2125;
      text-decoration-line: underline;
      font-family: Inter, 'Source Sans Pro';
      width: 4rem;
      top: 151.6rem;
      letter-spacing: 0.384rem;
      font-style: italic;
      height: 15.6rem;
      white-space: nowrap;
    }
    .f-Ngw {
      line-height: 1.2125;
      width: 5.3rem;
      height: 15.6rem;
      position: absolute;
      left: 16.4rem;
      text-align: center;
      font-weight: 600;
      font-family: Inter, 'Source Sans Pro';
      top: 150.5rem;
      text-decoration-line: underline;
      font-size: 12.8rem;
      letter-spacing: 0.384rem;
      font-style: italic;
      white-space: nowrap;
    }
  }
}
