
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.card-20-Hu1 {
  width: 100%;
  height: 102.4rem;

  .card-20-rSK {
    height: 100%;
    position: relative;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:bf79976cc051f9796199a48b7448e127e97e5274');
    width: 100%;
    overflow: hidden;
    background-size: 100% 100%;
    background-position: center;
  }
}
