
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 146.5rem;
}.card-18-K9Z {
  width: 100%;
  height: 102.4rem;

  .card-18-UYF {
    width: 100%;
    position: relative;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:5171428b8a13bb7e077197866811b3f03ac109fe');
    height: 100%;
    overflow: hidden;
    background-size: 100% 100%;
    background-position: center;
  }
}
