
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.card-21-6Lf {
  width: 100%;
  height: 102.4rem;

  .card-21-FDZ {
    position: relative;
    background-color: #ffffff;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:288c3b6ad74336cc53e73928a01690d95baca2bb');
    width: 100%;
    overflow: hidden;
    height: 100%;
  }
}
