
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.card-23-V1R {
  height: 102.4rem;
  width: 100%;

  .card-23-qb5 {
    vertical-align: top;
    width: 144rem;
    height: 102.4rem;
    object-fit: contain;
  }
}
