
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.card-19-hfu {
  height: 105.3rem;
  width: 100%;

  .card-19-Tf5 {
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    background-position: center;
    background-image: url('REPLACE_IMAGE:164130b4eeb7ce635c25b3c3ace01abd899da837');
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}
