
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.card-25-3qZ {
  width: 100%;
  height: 93.2rem;

  .card-25-cdm {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    background-size: 75.198% 109.871%;
    background-position: 17.8575rem 0;
    background-image: url('REPLACE_IMAGE:5221cc042aff11c8700750c42a62bf38b635a581');

    .card-25-cdm-bg {
      width: 144rem;
      height: 93.2rem;
      position: relative;
      background-image: url('REPLACE_IMAGE:5221cc042aff11c8700750c42a62bf38b635a581');
    }
  }
}
