
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 145.8rem;
}.card-27-gvT {
  width: 100%;
  height: 129.3rem;
}
.card-27-gvT .desktop-1-TRR {
  box-sizing: border-box;
  padding: 1.5rem 7.3rem 1.5rem 7.5rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.card-27-gvT .desktop-1-TRR .some-examples-of-mind-body-wellness-challenges-that-can-be-included-in-your-personalized-wellness-plan-are-1-meditation-challenge-incorporate-a-daily-meditation-practice-for-a-set-duration-eg-10-minutes-to-promote-mental-clarity-reduce-stress-and-improve-focus-2-fitness-challenge-set-specific-fitness-goals-based-on-your-current-physical-fitness-level-and-preferences-this-may-include-activities-such-as-walking-running-cycling-or-strength-training-gradually-increase-the-duration-and-intensity-of-your-workouts-over-time-3-yoga-challenge-introduce-a-regular-yoga-practice-to-improve-flexibility-balance-and-mindfulness-start-with-beginner-level-poses-and-progress-to-more-advanced-poses-as-your-body-becomes-more-flexible-and-comfortable-4-gratitude-challenge-practice-gratitude-by-keeping-a-gratitude-journal-and-writing-down-three-things-you-are-grateful-for-each-day-this-exercise-helps-shift-your-focus-to-the-positive-aspects-of-your-life-and-promotes-mental-well-being-5-healthy-eating-challenge-implement-a-balanced-and-nutritious-diet-plan-that-suits-your-dietary-preferences-and-goals-this-may-involve-incorporating-more-fruits-vegetables-whole-grains-and-lean-proteins-into-your-meals-while-minimizing-processed-foods-and-sugary-drinks-6-digital-detox-challenge-take-regular-breaks-from-screens-eg-smartphones-tablets-computers-to-reduce-screen-time-and-promote-mental-well-being-set-specific-time-limits-for-screen-usage-and-engage-in-activities-such-as-reading-a-book-going-for-a-walk-or-spending-time-with-loved-ones-7-sleep-hygiene-challenge-establish-a-consistent-sleep-schedule-and-practice-good-sleep-hygiene-habits-such-as-avoiding-caffeine-before-bedtime-creating-a-calming-bedtime-routine-and-keeping-your-sleep-environment-cool-dark-and-quiet-nyV {
  max-width: 131rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
